{% extends 'base_generic_ft.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
<body>

<div class="container mt-5">
<form id="remissionForm" method="POST" action="{% url 'add_remission' %}">
    {% csrf_token %}  

<!-- Número de Remisión -->
<div class="form-group">
<label for="remissionNumber">Número de Remisión</label>
<input type="text" class="form-control" id="remissionNumber" name="remissionNumber">
</div>

<!-- Cliente -->
<div class="form-group">
<label for="client">Cliente</label>
<select class="form-control" id="client" name="client">
    {% for client in clients %}
        <option value="{{ client.id }}">{{ client.name }}</option>  <!-- Asegúrate de usar los nombres correctos de los campos de tu modelo -->
    {% endfor %}
</select>
<button type="button" class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#addClientModal">Nuevo Cliente</button>
</div>

<!-- Modal para agregar cliente -->
<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="addClientModalLabel">Agregar Cliente</h5>
<button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
</form>

<form id="addClientForm">
    {% csrf_token %}

    <div class="modal-body">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="NIT">NIT</label>
            <input type="text" class="form-control" id="NIT" name="NIT" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Teléfono</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" required>
        </div>
        <button type="button" class="btn btn-primary" id="saveClientButton">Guardar</button>
    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById('addClientForm');
	console.log(document.getElementById('addClientForm'));

    if (form) {
        document.getElementById('saveClientButton').addEventListener('click', () => {
            const formData = new FormData(form);
            formData.append('name', document.getElementById('name').value);
            formData.append('NIT', document.getElementById('NIT').value);
            formData.append('email', document.getElementById('email').value);
            formData.append('address', document.getElementById('address').value);
            formData.append('phone_number', document.getElementById('phone_number').value);
            
            // Obtener el token CSRF del formulario principal
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('{% url "add_client" %}', {
                method: 'POST',
                headers: {
                    // Incluir el token CSRF en los encabezados de la solicitud
                    'X-CSRFToken': csrfToken,
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
				console.log('Success:', data);
				// Cerrar el modal usando JavaScript puro
				document.getElementById('addClientModal').classList.remove('show');
				document.body.classList.remove('modal-open');
				document.querySelector('.modal-backdrop').remove();
				// Aquí puedes agregar código para manejar la respuesta del servidor
			})


            .catch((error) => {
                console.error('Error:', error);
                // Aquí puedes agregar código para manejar errores
            });
        });
    } else {
        console.error('El formulario no se encontró');
    }
});
</script>
</div>
</div>
</div>
</div>

<!-- Número de Tanda -->
<div class="form-group">
<label for="batchNumber">Número de Tanda</label>
<input type="text" class="form-control" id="batchNumber" name="batchNumber">
</div>

<!-- Tipo de Prenda -->
<div class="form-group">
<label for="garment_type">Tipo de prenda</label> {{ form.garment_type }}
<button type="button" class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#addGarmentTypeModal">Agregar Tipo de Prenda</button>
</div>

<!-- Modal para agregar tipo de prenda -->
<div class="modal fade" id="addGarmentTypeModal" tabindex="-1" aria-labelledby="addGarmentTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGarmentTypeModalLabel">Agregar Tipo de Prenda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addGarmentTypeForm">
        <div class="modal-body">
          <!-- Nombre de la Prenda -->
          <div class="form-group">
            <label for="garmentName">Nombre de la Prenda</label>
            <input type="text" class="form-control" id="garmentName" name="garmentName" required>
          </div>
          <!-- Descripción de la Prenda -->
          <div class="form-group">
            <label for="garmentDescription">Descripción de la Prenda</label>
            <input type="text" class="form-control" id="garmentDescription" name="garmentDescription" required>
          </div>
          <!-- Código del Producto -->
          <div class="form-group">
            <label for="productCode">Código del Producto</label>
            <input type="text" class="form-control" id="productCode" name="productCode" required>
          </div>
          <!-- Precio Unitario -->
          <div class="form-group">
            <label for="unitPrice">Precio Unitario</label>
            <input type="text" class="form-control" id="unitPrice" name="unitPrice" required>
          </div>
          <!-- Tipo de Tela -->
			<div class="form-group">
			<label for="fabricType">Tipo de Tela</label>
			<select class="form-control" id="fabricTypeDropdown" name="name">
			{% for fabric_type in fabric_types %}
				<option value="{{ fabric_type.id }}" data-gramaje="{{ fabric_type.gramaje }}">{{ fabric_type.name }}</option>
			{% endfor %}
			</select>
			<div class="form-group">
			<label for="gramaje">Gramaje de la Tela</label>
			<input type="text" class="form-control" id="gramaje" name="gramaje" required>
			</div>
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addFabricTypeModal">Agregar Tipo de Tela</button>
          </div>
          <!-- Operaciones Requeridas (Required Operations) -->
		<div class="form-group">
			<label for="requiredOperations">Operaciones Requeridas</label>
			<select class="form-control" id="requiredOperations" name="requiredOperations" multiple>
				{% for operation in operations %}
					<option value="{{ operation.id }}">{{ operation.name }}</option>
				{% endfor %}
			</select>
			<button type="button" class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#addRequiredOperationModal">Agregar Operación Requerida</button>
		</div>
		</div>
          <!-- Características Distintivas (Distinctive Features) -->
			<div class="form-group">
			<label for="distinctiveFeatures">Características Distintivas</label>
			<select class="form-control" id="distinctiveFeatures" name="distinctiveFeatures" multiple>
        <!-- Las opciones se llenarán dinámicamente con Django -->
        <!-- Ejemplo:
        <option value="1">Característica 1</option>
        <option value="2">Característica 2</option>
        -->
			</select>
    <button type="button" class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#addDistinctiveFeatureModal">Agregar Característica Distintiva</button>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal para agregar tipo de tela -->
<div class="modal fade" id="addFabricTypeModal" tabindex="-1" aria-labelledby="addFabricTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFabricTypeModalLabel">Agregar Tipo de Tela</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addFabricTypeForm">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="fabricTypeName">Nombre</label>
            <input type="text" class="form-control" id="fabricTypeName" name="name" required>
          </div>
          <div class="form-group">
            <label for="fabricTypeDescription">Descripción</label>
            <textarea class="form-control" id="fabricTypeDescription" name="description"></textarea>
          </div>
		  <div class="form-group">
			<label for="gramaje">Gramaje de la Tela</label>
			<input type="text" class="form-control" id="gramaje" name="gramaje" required>
		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="saveFabricTypeButton">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal para agregar Característica Distintiva -->
<div class="modal fade" id="addDistinctiveFeatureModal" tabindex="-1" aria-labelledby="addDistinctiveFeatureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDistinctiveFeatureModalLabel">Agregar Característica Distintiva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addDistinctiveFeatureForm">
                <div class="modal-body">
                    <!-- Nombre de la Característica -->
                    <div class="form-group">
                        <label for="name">Nombre de la Característica</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para agregar Operación Requerida -->
<div class="modal fade" id="addRequiredOperationModal" tabindex="-1" aria-labelledby="addRequiredOperationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRequiredOperationModalLabel">Agregar Operación Requerida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addRequiredOperationForm" method="POST">
                <div class="modal-body">
                    <!-- Nombre de la Operación -->
                    <div class="form-group">
                        <label for="operationName">Nombre de la Operación</label>
                        <input type="text" class="form-control" id="operationName" name="name" required>
                    </div>
                    <!-- Valor de la Operación en COP -->
                    <div class="form-group">
                        <label for="operationValueCOP">Valor COP</label>
                        <input type="number" class="form-control" id="operationValueCOP" name="value_COP" step="0.01" required>
                    </div>
                    <button type="button" class="btn btn-secondary" style="margin-top: 10px;" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" style="margin-top: 10px;" id="saveRequiredOperationButton">Guardar</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="form-group">
<label for="unitPrice">Precio Unitario</label>
<input type="text" class="form-control" id="unitPrice" name="unitPrice" readonly>
</div>

<!-- Conjuntos de campos para especificar color, talla y cantidad -->
<div id="colorSizeQuantityContainer">
<div class="form-row">
<div class="form-group col-md-4">
<label for="garmentColor1">Color de la Prenda</label>
<input type="color" class="form-control" id="garmentColor1" name="garmentColor1">
</div>
<div class="form-group col-md-4">
<label for="garmentSize1">Talla</label>
<select class="form-control" id="garmentSize1" name="garmentSize1">
<!-- Las opciones se llenarán dinámicamente con Django -->
</select>
</div>
<div class="form-group col-md-3">
<label for="garmentQuantity1">Cantidad</label>
<input type="number" class="form-control" id="garmentQuantity1" name="garmentQuantity1">
</div>

</div>
</div>

<!-- Botón para agregar un nuevo conjunto de campos para color, talla y cantidad -->
<div class="form-group">
<button type="button" class="btn btn-primary" style="margin-top: 10px;" onclick="addColorSizeQuantitySet()">Agregar Color-Talla-Cantidad</button>
</div>

<!-- Total Quantity -->
<div class="form-group">
<label for="totalQuantity">Total Quantity</label>
<input type="text" class="form-control" id="totalQuantity" name="totalQuantity" readonly>
</div>

<!-- Total Value COP -->
<div class="form-group">
<label for="totalValueCOP">Total Value COP</label>
<input type="text" class="form-control" id="totalValueCOP" name="totalValueCOP" readonly>
</div>

<!-- Botón para guardar la remisión -->
<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Guardar Remisión</button>
</form>
</div>

<!-- Importando jQuery (versión completa) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   
<!-- Importando Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
let colorSizeQuantityCount = 1;

function addColorSizeQuantitySet() {
    colorSizeQuantityCount++;
    const newSet = document.createElement('div');
    newSet.className = 'form-row';
    newSet.id = 'colorSizeQuantitySet' + colorSizeQuantityCount;  // Asignando un ID único al contenedor del conjunto de campos
    newSet.innerHTML = `
        <div class="form-group col-md-4">
            <label for="garmentColor${colorSizeQuantityCount}">Color de la Prenda</label>
            <input type="color" class="form-control" id="garmentColor${colorSizeQuantityCount}" name="garmentColor${colorSizeQuantityCount}">
        </div>
        <div class="form-group col-md-4">
            <label for="garmentSize${colorSizeQuantityCount}">Talla</label>
            <select class="form-control" id="garmentSize${colorSizeQuantityCount}" name="garmentSize${colorSizeQuantityCount}">
                <!-- Las opciones se llenarán dinámicamente con Django -->
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="garmentQuantity${colorSizeQuantityCount}">Cantidad</label>
            <input type="number" class="form-control" id="garmentQuantity${colorSizeQuantityCount}" name="garmentQuantity${colorSizeQuantityCount}">
        </div>
        <div class="form-group col-md-1">
            <label>&nbsp;</label>
            <button type="button" class="form-control btn btn-danger" onclick="removeColorSizeQuantitySet(${colorSizeQuantityCount})">Eliminar</button>
        </div>
    `;
    document.getElementById('colorSizeQuantityContainer').appendChild(newSet);
}

function removeColorSizeQuantitySet(setNumber) {
    if (colorSizeQuantityCount > 1) {
        const container = document.getElementById('colorSizeQuantityContainer');
        const setToRemove = document.getElementById('colorSizeQuantitySet' + setNumber);
        container.removeChild(setToRemove);
        colorSizeQuantityCount--;

        // Actualizar los IDs de los conjuntos de campos restantes
        for (let i = setNumber; i < colorSizeQuantityCount + 1; i++) {
            const nextSet = document.getElementById('colorSizeQuantitySet' + (i + 1));
            if (nextSet) {
                nextSet.id = 'colorSizeQuantitySet' + i;
                nextSet.querySelector(`#garmentColor${i + 1}`).id = 'garmentColor' + i;
                nextSet.querySelector(`#garmentSize${i + 1}`).id = 'garmentSize' + i;
                nextSet.querySelector(`#garmentQuantity${i + 1}`).id = 'garmentQuantity' + i;
                nextSet.querySelector(`button[onclick="removeColorSizeQuantitySet(${i + 1})"]`).setAttribute('onclick', `removeColorSizeQuantitySet(${i})`);
            }
        }
    }
}

</script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('addGarmentTypeForm').addEventListener('submit', (e) => {
        e.preventDefault();
        
        const formData = new FormData(e.target);
        
        fetch('{% url "add_garment_type" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Aquí puedes agregar código para manejar la respuesta del servidor
        })
        .catch((error) => {
            console.error('Error:', error);
            // Aquí puedes agregar código para manejar errores
        });
    });
});
</script>


<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const form = document.getElementById('addFabricTypeForm');

  if (form) {
    document.getElementById('saveFabricTypeButton').addEventListener('click', () => {
      const formData = new FormData(form);
      formData.append('name', document.getElementById('fabricTypeName').value);
      formData.append('description', document.getElementById('fabricTypeDescription').value);
      
      // Obtener el token CSRF del formulario principal
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      fetch('{% url "fabric_type_create" %}', {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken,
        },
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        // Cerrar el modal usando JavaScript puro
        document.getElementById('addFabricTypeModal').classList.remove('show');
        document.body.classList.remove('modal-open');
        document.querySelector('.modal-backdrop').remove();
        // Aquí puedes agregar código para manejar la respuesta del servidor
      })
      .catch((error) => {
        console.error('Error:', error);
        // Aquí puedes agregar código para manejar errores
      });
    });
  } else {
    console.error('El formulario no se encontró');
  }
});
document.addEventListener('DOMContentLoaded', (event) => {
    const fabricTypeDropdown = document.getElementById('fabricTypeDropdown');
    const gramajeInput = document.getElementById('gramaje');

    fabricTypeDropdown.addEventListener('change', function() {
        const selectedOption = this.options[this.selectedIndex];
        const gramajeValue = selectedOption.getAttribute('data-gramaje');
        gramajeInput.value = gramajeValue;
    });
});

</script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById('addRequiredOperationForm');

    if (form) {
        document.getElementById('saveRequiredOperationButton').addEventListener('click', () => {
            const formData = new FormData(form);
            formData.append('name', document.getElementById('operationName').value);
            formData.append('value_COP', document.getElementById('operationValueCOP').value);

            // Obtener el token CSRF del formulario
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('{% url "operation_create" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Accept': 'application/json',
                },
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // Cerrar el modal usando JavaScript puro
                document.getElementById('addRequiredOperationModal').classList.remove('show');
                document.body.classList.remove('modal-open');
                document.querySelector('.modal-backdrop').remove();
                // Aquí puedes agregar código para manejar la respuesta del servidor
            })
            .catch((error) => {
                console.error('Error:', error);
                // Aquí puedes agregar código para manejar errores
            });
        });
    } else {
        console.error('El formulario no se encontró');
    }
});
</script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('addDistinctiveFeatureForm').addEventListener('submit', (e) => {
        e.preventDefault();
        
        const formData = new FormData(e.target);
        
        fetch('{% url "add_distinctive_feature" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Aquí puedes agregar código para manejar la respuesta del servidor
        })
        .catch((error) => {
            console.error('Error:', error);
            // Aquí puedes agregar código para manejar errores
        });
    });
});
</script>


</body>

</html>


{% endblock %}




